body{
    margin:0;
    padding:0;
    background:#5865F2;
    font-family:Arial, sans-serif;
}

.container{
    width:450px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

h1{
    color:#5865F2;
}

textarea{
    width:100%;
    height:150px;
    margin-top:20px;
    padding:10px;
    font-size:16px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    font-size:18px;
    background:#5865F2;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#404EED;
}